body {
    background-color:papayawhip

}
h1 {
    text-align: center;
    margin-left: 350px;
    color:palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    margin-top: 200px;
}
.button-container {
    display: block;
    margin-left: 80%;
    justify-content: center;
    align-items: center;

}
.image-container_tp {
    display:flex;
    justify-content: top;
    align-items: top;
    margin-top: auto;
}
.image-container_bt {
    display:flex;
    justify-content: bottom;
    align-items: bottom;
    margin-top: 300px;
}